# Read the docs for more info:
# - https://www.bookstackapp.com/docs/admin/cache-session-config/
# - https://github.com/BookStackApp/BookStack/blob/master/.env.example.complete

# Environment
APP_ENV=production
APP_DEBUG=false
APP_KEY=------------REPLACE_ME------------

# Timezone
TZ=------------REPLACE_ME------------

# The below url has to be set if using social auth options
# or if you are not using BookStack at the root path of your domain.
APP_URL=https://bookstackapp.com ------------REPLACE_ME------------
APP_URL_BASE=bookstackapp.com ------------REPLACE_ME------------

# Application default language
# The default language choice to show.
# May be overridden by user-preference or visitor browser settings.
APP_LANG=en

# Auto-detect language for public visitors.
# Uses browser-sent headers to infer a language.
# APP_LANG will be used if such a header is not provided.
APP_AUTO_LANG_PUBLIC=true

# Application timezone
# Used where dates are displayed such as on exported content.
# Valid timezone values can be found here: https://www.php.net/manual/en/timezones.php
APP_TIMEZONE=UTC

# Database details
DB_HOST=db:3306
DB_DATABASE=bookstack
DB_USERNAME=bookstack
DB_PASSWORD='------------REPLACE_ME------------'
DB_ROOT_PASS='------------REPLACE_ME------------'

# Cache and session
#CACHE_DRIVER=file
#SESSION_DRIVER=file
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=sync
# A different prefix is useful when multiple BookStack instances use the same caching server
CACHE_PREFIX=bookstack

# Redis settings
# Single Redis server
REDIS_SERVERS=cache:6379:0
# Example of using two Redis servers clustered together
#REDIS_SERVERS=8.8.8.8:6379:0,8.8.4.4:6379:0

# Storage
STORAGE_TYPE=local
# S3 (minio or AWS) Config
STORAGE_S3_KEY=false
STORAGE_S3_SECRET=false
STORAGE_S3_REGION=false
STORAGE_S3_BUCKET=false
# Storage URL
# Used to prefix image urls for when using custom domains/cdns
STORAGE_URL=false

# General auth
AUTH_METHOD=standard

# Social Authentication information. Defaults as off.
GITHUB_APP_ID=false
GITHUB_APP_SECRET=false
GOOGLE_APP_ID=false
GOOGLE_APP_SECRET=false
OKTA_BASE_URL=false
OKTA_APP_ID=false
OKTA_APP_SECRET=false
TWITCH_APP_ID=false
TWITCH_APP_SECRET=false
GITLAB_APP_ID=false
GITLAB_APP_SECRET=false
GITLAB_BASE_URI=false

# External services such as Gravatar and Draw.IO
DISABLE_EXTERNAL_SERVICES=false

# LDAP Settings
LDAP_SERVER=false
LDAP_BASE_DN=false
LDAP_DN=false
LDAP_PASS=false
LDAP_USER_FILTER=false
LDAP_VERSION=false

# Mail settings
MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM=null
MAIL_FROM_NAME=null

# Only serving cookies over TLS
SESSION_SECURE_COOKIE=true
